################################### Cluster ###################################

cluster.name: {{ .Env.CLUSTERNAME }} 
#################################### Node #####################################

node.name: {{ .Env.HOSTNAME }}
node.max_local_storage_nodes: 1

#################################### Index ####################################

index.mapper.dynamic: true
action.auto_create_index: false
action.disable_delete_all_indices: true

#################################### Paths ####################################

path.conf: /usr/share/elasticsearch/config
path.data: /usr/share/elasticsearch/data
path.logs: /usr/share/elasticsearch/logs

#################################### Plugin ###################################


################################### Memory ####################################

bootstrap.mlockall: true

############################## Network And HTTP ###############################

http.port: 9200

################################### Gateway ###################################

gateway.expected_nodes: 1

############################# Recovery Throttling #############################


################################## Discovery ##################################


discovery.zen.minimum_master_nodes: {{ .Env.MIN_MASTER_NODES }}
discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.unicast.hosts: {{ .Env.ES_MASTER_NODES }}

################################## Slow Log ###################################


################################## GC Logging #################################


################################## JMX ########################################


################################## Custom #####################################

node.data: {{ .Env.DATANODE }}
node.master: {{ .Env.MASTERNODE }}
network.host: 0.0.0.0
script.disable_dynamic: false
action.auto_create_index: false