################################### Cluster ###################################

cluster.name: {{ .Env.CLUSTERNAME }} 
#################################### Node #####################################

node.name: {{ .Env.HOSTNAME }}
node.max_local_storage_nodes: 1

#################################### Index ####################################

index.mapper.dynamic: true
action.auto_create_index: false
action.disable_delete_all_indices: true

#################################### Paths ####################################

path.conf: /usr/share/elasticsearch/config
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

#################################### Plugin ###################################


################################### Memory ####################################

bootstrap.mlockall: true

############################## Network And HTTP ###############################

http.port: 9200

################################### Gateway ###################################

gateway.expected_nodes: 1

############################# Recovery Throttling #############################


################################## Discovery ##################################


discovery.zen.minimum_master_nodes: {{ .Env.MIN_MASTER_NODES }}
discovery.zen.ping.multicast.enabled: false
discovery.type: ec2

discovery.ec2.groups: {{ .Env.DISCOVERY_GROUPS }}
discovery.ec2.host_type: {{ .Env.DISCOVERY_HOSTYPE }}
discovery.ec2.availability_zones: {{ .Env.DISCOVERY_AZ }}
discovery.ec2.any_group: {{ .Env.DISCOVERY_ANY_GROUP }}
discovery.ec2.node_cache_time: {{ .Env.DISCOVERY_NODE_CACHE_TIME }}

################################## Slow Log ###################################


################################## GC Logging #################################


################################## JMX ########################################


################################## Custom #####################################

node.data: {{ .Env.DATANODE }}
node.master: {{ .Env.MASTERNODE }}
network.host: 0.0.0.0